* {
    margin: auto;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #161415
        /*background-attachment: fixed;
    background-size:cover;
    background-blend-mode:soft-light;
    background-position:center;
    background-repeat: no-repeat;
    background-size: auto;*/
}

.hinhanh {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.main {
    display: block;
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: -apple-system, Helvetica Neue, sans-serif;

}